{
  "openapi": "3.1.0",
  "info": {
    "title": "Elata Appstore Public API",
    "version": "1.0.0",
    "description": "Public ownership verification and premium-content discovery endpoints for Elata apps."
  },
  "servers": [
    {
      "url": "https://app.elata.bio/api/v1"
    }
  ],
  "paths": {
    "/users/{address}/elta": {
      "get": {
        "summary": "Read ELTA balance",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "ELTA balance",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EltaResponse" }
              }
            }
          }
        }
      }
    },
    "/users/{address}/veelta": {
      "get": {
        "summary": "Read veELTA voting power",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "veELTA balance and lock",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VeEltaResponse" }
              }
            }
          }
        }
      }
    },
    "/apps/{tokenAddress}/users/{userAddress}/token": {
      "get": {
        "summary": "Verify app-token ownership",
        "parameters": [
          { "name": "tokenAddress", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "userAddress", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "fresh", "in": "query", "required": false, "schema": { "type": "string", "enum": ["1"] } }
        ],
        "responses": {
          "200": {
            "description": "Token ownership result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TokenVerificationResponse" }
              }
            }
          }
        }
      }
    },
    "/apps/{tokenAddress}/users/{userAddress}/gate-access": {
      "get": {
        "summary": "Evaluate saved gate config",
        "parameters": [
          { "name": "tokenAddress", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "userAddress", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "fresh", "in": "query", "required": false, "schema": { "type": "string", "enum": ["1"] } }
        ],
        "responses": {
          "200": {
            "description": "Gate evaluation result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GateAccessResponse" }
              }
            }
          }
        }
      }
    },
    "/apps/{tokenAddress}/users/{userAddress}/premium-content": {
      "get": {
        "summary": "List currently owned premium content",
        "parameters": [
          { "name": "tokenAddress", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "userAddress", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "fresh", "in": "query", "required": false, "schema": { "type": "string", "enum": ["1"] } }
        ],
        "responses": {
          "200": {
            "description": "Owned premium content",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PremiumContentListResponse" }
              }
            }
          }
        }
      }
    },
    "/apps/{tokenAddress}/users/{userAddress}/premium-content/{contentId}": {
      "get": {
        "summary": "Check one premium content item",
        "parameters": [
          { "name": "tokenAddress", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "userAddress", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "contentId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "fresh", "in": "query", "required": false, "schema": { "type": "string", "enum": ["1"] } }
        ],
        "responses": {
          "200": {
            "description": "Premium content ownership result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PremiumContentItemResponse" }
              }
            }
          }
        }
      }
    },
    "/apps/{tokenAddress}/market-summary": {
      "get": {
        "summary": "Read app market summary",
        "parameters": [
          { "name": "tokenAddress", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "App market summary",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MarketSummaryResponse" }
              }
            }
          }
        }
      }
    },
    "/apps/{tokenAddress}/premium-content/catalog": {
      "get": {
        "summary": "Read premium-content catalog",
        "parameters": [
          { "name": "tokenAddress", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Premium-content catalog",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PremiumCatalogResponse" }
              }
            }
          }
        }
      }
    },
    "/apps/{tokenAddress}/premium-content/activity": {
      "get": {
        "summary": "Read recent premium-content purchases",
        "parameters": [
          { "name": "tokenAddress", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Recent premium-content sales",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PremiumActivityResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "EltaResponse": {
        "type": "object",
        "properties": {
          "address": { "type": "string" },
          "token": { "type": "string" },
          "balance": { "type": "string" },
          "balanceFormatted": { "type": "string" },
          "decimals": { "type": "integer" }
        }
      },
      "VeEltaResponse": {
        "type": "object",
        "properties": {
          "address": { "type": "string" },
          "token": { "type": "string" },
          "votingPower": { "type": "string" },
          "lock": {
            "type": "object",
            "properties": {
              "principal": { "type": "string" },
              "unlockTime": { "type": "integer" },
              "unlockDate": { "type": ["string", "null"] }
            }
          }
        }
      },
      "TokenVerificationResponse": { "type": "object" },
      "GateAccessResponse": { "type": "object" },
      "PremiumContentListResponse": { "type": "object" },
      "PremiumContentItemResponse": { "type": "object" },
      "MarketSummaryResponse": { "type": "object" },
      "PremiumCatalogResponse": { "type": "object" },
      "PremiumActivityResponse": { "type": "object" }
    }
  }
}
